/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* @tailwind base;
 @tailwind components;
 @tailwind utilities; */

/* You can override the default Infima variables here. */
:root {
  --ifm-navbar-background-color: #0a0d17;

  --ifm-color-primary: #ffffff;
  --ifm-color-primary-dark: #3345ae;
  --ifm-color-primary-darker: #3d36a4;
  --ifm-color-primary-darkest: #2a2593;
  --ifm-color-primary-light: #503392;
  --ifm-color-primary-lighter: #355d99;
  --ifm-color-primary-lightest: #78a08a;
  /* --ifm-bg-color-purple: rgba(134, 51, 242, 0.1); */
  /* --ifm-code-font-size: 95%; */
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --text-secondary: rgba(102, 112, 133, 1);

  --bg-primary: #0a0d17;

  --stroke-primary: rgba(103, 17, 215, 1);

  --bg-global: #0a0d17;

  --bg-update-button: #f2f2f2;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-navbar-background-color: #14171f;

  --ifm-color-primary: #45a2ff;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;

  --docusaurus-highlighted-code-line-bg: rgba(248, 27, 27, 0.3);

  --text-secondary: rgba(208, 213, 221, 1);

  /* --bg-primary: rgba(233, 225, 225, 0.1); */
  /* --bg-secondary: #e2dbdb10; */

  --bg-global: #0a0d17;

  --stroke-primary: rgba(193, 147, 253, 1);

  --bg-update-button: #272729;
}

.footer {
  --ifm-footer-background-color: #14171f;
}

.hero {
  --ifm-hero-background-color: #14171f;
}

html[data-theme="dark"] {
  --ifm-background-color: #0a0d17;
}

.button.button--secondary {
  background: linear-gradient(#0a0d17, #0a0d17) padding-box,
    linear-gradient(to right, #45a2ff, #2fd07b) border-box;
  border-radius: 2rem;
  border: 3px solid transparent;
  color: #d0d5dd;
}

.button.button--secondary:hover {
  background: linear-gradient(#0a0d17, #0a0d17) padding-box,
    linear-gradient(to left, #45a2ff, #2fd07b) border-box;
  border-radius: 2rem;
  border: 3px solid transparent;
  color: #d0d5dd;
  background-color: #14171f;
}
