/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

 @tailwind base;
 @tailwind components;
 @tailwind utilities;

/* You can override the default Infima variables here. */
:root {
  --ifm-navbar-background-color: #fff;

  --ifm-color-primary: #9747FF;
  --ifm-color-primary-dark: #3345ae;
  --ifm-color-primary-darker: #3d36a4;
  --ifm-color-primary-darkest: #2a2593;
  --ifm-color-primary-light: #503392;
  --ifm-color-primary-lighter: #355d99;
  --ifm-color-primary-lightest: #78a08a;
  --ifm-bg-color-purple: rgba(134, 51, 242, 0.1);
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --text-secondary: rgba(102, 112, 133, 1);

  --bg-primary: rgba(249, 245, 255, 1);

  --stroke-primary: rgba(103, 17, 215, 1);

  --bg-global: #fff;
  
  --bg-update-button: #f2f2f2;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-navbar-background-color: #141A1E;


--ifm-global-shadow-md: 0 5px 4px rgb(209, 67, 67);
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;

  --docusaurus-highlighted-code-line-bg: rgba(248, 27, 27, 0.3);

  --text-secondary: rgba(208, 213, 221, 1);

  --bg-primary: rgba(233, 225, 225, 0.1);
  --bg-secondary: #e2dbdb10;

  --bg-global: #141A1E;

  --stroke-primary: rgba(193, 147, 253, 1);

  --bg-update-button: #272729;
}


.docusaurus-highlight-code-line {
  background-color: rgb(168, 24, 103);
}